---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 0cd35c3083375bf4178e70685e27dfae/4680383553996918086;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6944,-73.9906",
          "postal": "11201"
        }
  recorded_at: Mon, 10 Sep 2018 14:07:55 GMT
recorded_with: VCR 4.0.0
